.box span{
  font-size: -webkit-xxx-large;
}
.box{
  text-align: center;
}
.row{
  margin: 0;
}
.game{
  display: flex;
  justify-content: center;
}
.boardContainer{
  display: inline-flex;
  justify-content: center;
  margin:0 2px;
  cursor: pointer;
  user-select: none;
}
.whiteBoard{
  display: grid;
  border: 2px solid lightslategray;
  grid-template-rows: repeat(8, 64px);
  grid-template-columns: repeat(8,64px);
  transform: rotate(180deg);
}
.whiteBoard div{
  transform: rotate(180deg);
}
.blackBoard{
  display: grid;
  border: 2px solid lightslategray;
  grid-template-rows: repeat(8, 64px);
  grid-template-columns: repeat(8,64px);
}
.settingsBoard{
  width: 250px;
  padding-left: 10px;
}

.piece{
  width: 100px;
  height: 100px;
  font-size: 400%;
}

.blackBox {
  background-color: lightslategray;
}
.whiteBox {
  background-color: white;
}

.active.blackBox{
  background-color: rgba(60, 121, 60, 0.89);
}
.active.whiteBox{
  background-color: rgba(60, 121, 60, 0.89);
}
.lastMove.blackBox{
  background-color: rgba(133, 142, 67, 0.89);
}
.lastMove.whiteBox{
  background-color: rgba(133, 142, 67, 0.89);
}
